@import'function';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // max-height: fit-content;
  font: Inter;
  vertical-align: baseline;
  // outline: 1px solid black;
  font-family: Noto Sans TC;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  height: auto;
}

body {
  max-width: 1903px;
  // height: 2000px;
  margin: auto;
  position: relative;
}
@mixin pc1400 {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin pc1200 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pc1100 {
  @media (max-width: 1100px) {
    @content;
  }
}
@mixin mb960 {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin mb768 {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mb767 {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin mb360 {
  @media (max-width: 310px) {
    @content;
  }
}
// animation
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate(-20%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate(30%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, -20%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0, 30%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes show {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

// breakpoints
@mixin pc1400 {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin pc1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin pc1079 {
  @media (max-width: 1079px) {
    @content;
  }
}

@mixin pc960 {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin mb796 {
  @media (max-width: 796px) {
    @content;
  }
}

@mixin mb769 {
  @media (max-width: 769px) {
    @content;
  }
}

@mixin mb690 {
  @media (max-width: 690px) {
    @content;
  }
}

@mixin mb576 {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin mb539 {
  @media (max-width: 539px) {
    @content;
  }
}
@keyframes loading{
  0%{
    opacity:0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  // 
  // height: 2000px;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  // width: 100%;
  height: 100vh;
}
.loading-all{
  max-width: 1903px;
  height:auto;
  overflow-x: unset;
  overflow-y: unset;
  max-width: 1903px;
}
.loading{
  width: calc(100vw + 17px);
  height: calc(100vh + 12px);
  background-color: #154058;
  display:flex;
  // display: none;

  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999999;
  flex-direction: column;
  img{
    @include mb767 {
      width: 250px;
    }
  }
  .loading-text-group{
    padding-left: 80px;
    @include mb767 {
      padding: 45px;
    }
    margin-top: 30px;
    display: flex;
    font-size: 28px;
    color:#F68B27;
    font-family: "Noto Serif TC", serif;
    letter-spacing: 4px;
    .loading-text-1{
      animation: loading 2s ease-in both;
      animation-iteration-count: infinite;
    }
    .loading-text-2{
      animation: loading 2s ease-in both;
      animation-delay: 0.2s;
      animation-iteration-count: infinite;
    }
    .loading-text-3{
      animation: loading 2s ease-in both;
      animation-delay: 0.4s;
      animation-iteration-count: infinite;
    }
    .loading-text-4{
      animation: loading 2s ease-in both;
      animation-delay: 0.6s;
      animation-iteration-count: infinite;
    }
    .loading-text-5{
      animation: loading 2s ease-in both;
      animation-delay: 0.8s;
      animation-iteration-count: infinite;
    }
  }
}
.loading.loading-done{
  display: none;
}
.nav {

  @include size(100%, 70px);
  @include flex(flex, space-between, center);
  position: fixed;
  padding: 0px 11%;
  background-color: $color-blue;
  z-index: 9999;
  // top: -70px;
  transition: all 0.3s linear;

  @include pc1200 {
    padding: 0 5%;
  }

  //!記得打開
  // display: none;
  .link-group {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    padding: 8px 0;
    z-index: 99999;

    .link-group-btn {
      font-size: $font-content;
      margin-left: 27px;
      font-weight: bold;
      color: white;
    }



    .link-group-btn-end {
      margin-right: 27px;
    }
  }

  #ham-bar-icon {
    display: none;

    .cancel {
      display: none;
    }
  }

  // ham-submenu
  .ham-submenu {
    width: 100%;
    color: white;
    background-color: $color-blue;
    position: absolute;
    left: 0%;
    top: 100%;
    display: none;
    padding: 20px 0;

    .ham-submenu-btn {
      font-weight: bold;
      font-size: $font-content;
      padding: 20px;
      text-align: center;

      span {
        display: block;
        padding: 5px;
      }
    }

    .horizontal-line {
      @include size(5%, 1px);
      background-color: white;
      transition: all 0.3s linear;
      margin: auto;

    }

    .ham-submenu-btn:hover {
      color: #ED892B;
      font-weight: bold;
    }

    .ham-submenu-btn:hover .horizontal-line {
      background-color: #ED892B;
      width: 35%;
      margin-top: 10px;
    }

  }
}



@media(max-width:769px) {
  .nav {
    .link-group {
      display: none;
    }

    #ham-bar:checked+label svg:nth-of-type(1) {
      display: none;
    }

    #ham-bar-icon,
    #ham-bar:checked+label svg:nth-of-type(2),
    #ham-bar:checked~.ham-submenu {
      display: block;
    }
  }

}

.nav.navOn {
  top: 0;
}

//menu start
.banner {

  // width: 100%;
  img:nth-of-type(1) {
    width: 100%;
    display: block;
    padding-top: 50px;
  }

  img:nth-of-type(2) {
    display: none;
  }

  @media(max-width:960px) {
    img:nth-of-type(1) {
      padding-top: 60px;
    }
  }

  @media(max-width:576px) {
    img:nth-of-type(1) {
      display: none;
    }

    img:nth-of-type(2) {
      display: block;
      padding-top: 70px;
      width: 100%;
    }
  }
}


// main part //swiper totem
.menu {
  position: relative;
  overflow: hidden;

  .totem-up {
    position: absolute;
    left: 2%;
    animation: fadeIn 2s ease-in both;

  }

  .totem-bottom {
    position: absolute;
    right: 2%;
    bottom: -1%;
    animation: fade 2s ease-in both;
  }

  @media(max-width:1700px) {
    .totem-up {
      left: 0;
    }

    .totem-bottom {
      right: 0;
    }
  }

  @media (max-width:1600px) {
    .totem-up {
      left: -3.5%;
      top: 11%;
    }

    .totem-bottom {
      right: -3.5%;
      bottom: -1%;
    }
  }

  @media (max-width:1400px) {
    .totem-up {
      left: 0;
      top: 13%;
      animation: fadeLeft 2s ease-in both;
    }

    .totem-bottom {
      right: 0;
      bottom: 2%;
      animation: fadeRight 2s ease-in both;
    }
  }

  @media (max-width:960px) {

    .totem-up,
    .totem-bottom {
      display: none;
    }
  }


  // five switch btn group
  .menu-bar {
    height: 100px;
    background-color: $color-blue;

    @include mb576 {
      height: 180px;
      padding: 10px 0;
    }


    .menu-bar-btn-group {
      @include flex(flex, center, center);
      @include size(100%, 100%);
      margin: auto;

      @include mb576 {
        flex-wrap: wrap;
      }

      @include pc960 {
        justify-content: space-evenly;
      }

      .menu-bar-btn {
        padding: 10px 30px;
        color: white;
        font-size: $font-content;
        border: 1px solid;
        border-color: white transparent;
        cursor: pointer;

        .active {
          color: #ED892B;
          border-color: #ED892B transparent;
          padding:5px 10px;
        }

        @include pc960 {
          padding: 10px;
        }

        @include mb576 {
          width: 35%;
          text-align: center;
          margin-bottom: 10px;
        }
      }

      .menu-bar-btn:hover{
        // padding: 15px 30px;
        color: #ED892B;
        border-color: #ED892B transparent;
      }

      .menu-bar-btn:nth-of-type(1),
      .menu-bar-btn:nth-of-type(2),
      .menu-bar-btn:nth-of-type(3),
      .menu-bar-btn:nth-of-type(4) {
        margin-right: 100px;

        @include pc1200 {
          margin-right: 50px;
        }

        @include pc960 {
          margin-right: 20px;
        }
      }
    }
  }
}

//the introduction of four beverage sections
.menu-frame {
  position: relative;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 100px;

  #mobile-menu-title {
    position: absolute;
    top: 5%;
    animation: fadeIn 2s ease-in both;
    display: none;

    @include mb796 {
      display: block;
    }
  }

  .totem-up {
    position: absolute;
    top: 0;
    left: 2%;
    animation: fadeIn 2s ease-in both;
    background-color: white;
    z-index: 999;

    @include pc1400 {
      left: 0;
      top: 2%;
      animation: fadeLeft 2s ease-in both;
    }

    @include mb796 {
      display: none;
    }
  }


  .totem-bottom {
    position: absolute;
    right: 2%;
    bottom: 0%;
    background-color: white;
    z-index: 999;

    @include pc1400 {
      right: 0;
      bottom: 2%;
      animation: fadeRight 2s ease-in both;
    }

    @include mb796 {
      display: none;
    }
  }

  .menu-mobile-totem {
    position: absolute;
    display: none;

    @include mb796 {
      display: block;
      top: 14.5%;
    }

    @include mb539 {
      top: 18%;
    }
  }

  // four beverage sections=> text and pic area
  .beverage-menu {
    @include flex(flex, center, center);

    .beverage-photo {
      z-index: 99;
      animation: show 2s ease-in both;

      @include mb796 {
        display: none;
      }
    }

    .menu-highlight-block {
      @include size(100%, 475px);
      animation: show 2s ease-in both;
      background-color: rgb(246, 139, 39, 0.69);
      position: absolute;
      bottom: 13%;

      @include mb796 {
        display: none;
      }
    }

    .menu-block {
      color: white;
      line-height: 2;
      position: absolute;
      transform: translate(45%, 0);
      animation: show 2s ease-in both;
      padding-left: 10px;

      @include mb796 {
        transform: unset;
      }

      @include mb539 {
        padding-left: 17px;
      }

      .menu-block-title {
        position: absolute;
        left: -15%;
        top: -40%;

        @include mb539 {
          display: none;
        }

        .title-slash {
          position: absolute;
          left: 12%;
          @include size(90px, 1.5px);
          background-color: white;
          border-radius: 50px;
          transform: rotate(130deg);
        }
      }

      #menu-block-mellow-title {
        top: -20%;

        @include pc1079 {
          top: -16%;
        }

        @include mb539 {
          display: none;
        }
      }

      #menu-block-fruit-title {
        top: -40%;

        @include pc1079 {
          top: -38%;
          left: -11%;
        }

        @include mb539 {
          display: none;
        }
      }

      #menu-block-milktea-title {
        top: -60%;

        @include pc1079 {
          top: -53%;
          left: -10%;

        }

        @include mb539 {
          display: none;
        }
      }

      .menu-block-text {
        width: 100%;
        display: flex;
        flex-direction: row;

        .menu-block-text-right {
          margin-left: 30px;
        }
      }

      h1 {
        font-size: $font-title;
      }

    }

    p {
      font-size: $font-content;

      @include pc1079 {
        font-size: 18px;
      }

      @include mb539 {
        font-size: 14px;
      }

    }

    .menu-block-content {
      position: relative;
      margin: 0 50px;
      animation: show 2s ease-in both;
    }

    @media (max-width:895px) {
      .menu-block-content {
        margin: 0 10px;
      }
    }
  }
}


// pc swiper
.bestseller {
  background-color: rgb(246, 139, 39, 0.69);

  .bestseller-border {
    position: relative;
    margin-left: 60px;

    @include pc1400 {
      margin: unset;
    }

    .bestseller-content {
      top: 50%;
      left: 20%;
      position: absolute;
      color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .bestseller-intro {

        p {
          letter-spacing: 3px;
          line-height: 2;
        }
      }

      .bestseller-title {
        position: absolute;
        bottom: 96%;
        left: -20%;
        margin-bottom: 50px;

        @include pc1400 {
          left: -8%;
        }

        h3 {
          font-size: $font-title;
        }

        h4 {
          font-size: $font-content;
          position: absolute;
          right: -114%;
        }

        #heavy-milk {
          right: -133%;
        }

        .title-slash {
          position: absolute;
          left: 68%;
          @include size(80px, 1.5px);
          background-color: white;
          border-radius: 50px;
          transform: rotate(130deg);
        }
      }
    }
  }
}


// mobile-swiper
.tea-type-swiper {
  @include size(100%, 500px);
  @include flex(flex, center, center);
  overflow: hidden;
  position: relative;
  display: none;
  animation: show 1s linear;

  @include pc960 {
    display: flex;
  }

  .swiper-mobile-totem {
    position: absolute;
    top: 55%;
    display: none;

    @include pc960 {
      display: block;
    }
  }

  #mobile-swiper {
    width: 80%;
    display: none;

    @include pc960 {
      display: flex;
    }

    @include mb690 {
      width: 100%;
    }

    @include mb576 {
      width: 95%;
    }

    .swiper-slide {
      @include size(40%, 100%);
      @include flex(flex, center, center);

      img {
        width: auto;
      }

      @media(max-width:400px) {
        img {
          width: 250px;
        }

        @media(max-width:367px) {
          img {
            width: 230px;
          }

        }
      }
    }

  }
}


// footer
footer {
  font-family: "Noto Sans TC", sans-serif;
  transition: all 1s linear;
  .footer-pc {
    @include mb767 {
      display: none;
    }
    margin-top: 102px;
    width: 100%;
    height: 120px;
    padding: 50px 23.8% 50px 23.8%;
    @include pc1400 {
      padding: 1.1% 15.7%;
    }
    @include pc1200 {
      padding: 1.1% 12.7%;
    }
    @include mb960 {
      padding: 1.1% 3.1% 1.1% 9.7%;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #154058;
    img {
      width: 203px;
      height: 80px;
      @include pc1400 {
        width: 179px;
        height: 70px;
      }
      // margin-right: 9.6%;
    }
    .footer-group {
      display: flex;
    }
    .footer-text-group {
      color: #f9f9f9;
      font-size: 16px;
      @include pc1400 {
        font-size: 12px;
      }
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      .footer-phone-business {
        display: flex;
        margin-bottom: 11px;
        justify-content: center;
        .footer-phone {
          margin-right: 42px;
        }
      }
      .footer-address {
        margin-bottom: 11px;
      }
    }
    .footer-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      // margin-left: 5.1%;
      i {
        margin-right: 15.69px;
        font-size: 28px;
        color: white;
      }
    }
  }
  .footer-pc.footer-on{
    opacity: 1;
    transform: translate(0,0);
    padding: 0 23.8% 0px 23.8%;
    @include pc1400 {
      padding: 1.1% 15.7%;
    }
    @include pc1200 {
      padding: 1.1% 12.7%;
    }
    @include mb960 {
      padding: 1.1% 3.1% 1.1% 9.7%;
    }
  }
  .footer-mb {
    display: none;
    position: relative;
    @include mb767 {
      display: flex;
    }
    flex-direction: column;
    width: 100%;
    height: 210px;
    background-color: #154058;
    background-image: url(../img/mobile_footer.png);
    background-repeat: no-repeat;
    background-position: center;

    padding: 17px 4.7% 40px 4.7%;
    // background-image: ;
    .footer-mb-text {
      font-size: 12px;
      color: white;
      margin-bottom: 5px;
    }
    .footer-mb-icon-group {
      position: absolute;
      right: 20px;
      bottom: 27px;
      i {
        font-size: 30px;
        color: white;
      }
      .phone-icon {
        position: absolute;
        bottom: 46px;
        right: 17px;
      }
      .fb-icon {
        position: absolute;
        bottom: 0px;
        right: 70px;
      }
      .ig-icon {
        position: absolute;
        bottom: 0px;
        right: 17px;
      }
    }
    .footer-end-text {
      display: flex;
      font-size: 12px;
      line-height: 11.5px;
      justify-content: center;
      color: white;
      -webkit-transform: scale(0.8);
      // margin:0 auto;
      white-space: nowrap;
      margin-top: 123px;
    }
  }
  .footer-mb.footerMb-on{
    opacity: 1;
    transform: translate(0,0);
    padding: 17px 4.7% 0px 4.7%;
  }
}